* {
  box-sizing: border-box;
}

.html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Helvetica';
}
.clear {
  clear: left;
}

/*Navbar*/
.container-navbar {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  height: 65px;
  width: 100%;
  background-color: #f48c06;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 180px;
  margin-top: 20px;
  color: white;
}

.fa {
  margin-right: 5px;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
  opacity: 0;
}
.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  text-decoration: none;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: #7d4904;
}

section {
  min-height: 100vh;
  padding: 0 5%;
  padding-top: 120px;
  padding-bottom: 32px;
}

.home .btn {
  display: inline-block;
  margin-top: 16px;
  padding: 10px 40px;
  border-radius: 5rem;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0.1, 0.3);
  transition: all 0.3s linear;
  background-color: #f48c06;
}

.btn:hover {
  transform: scale(1.1);
}

.home {
  background-color: #fff2e1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.home .image img {
  width: 40vw;
  animation: float 3s linear infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0rem);
  }
  50% {
    transform: translateY(-3.5rem);
  }
}

.home .jumbotron h3 {
  font-size: 24px;
  color: #2f327d;
}

.home .jumbotron h3 span {
  color: #f48c06;
}

.home .jumbotron p {
  font-size: 13px;
  color: #666;
  padding: 5px 0;
}

.about {
  background: url(../images/about-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 3rem;
}

.about .heading {
  text-align: center;
  background: #2f327d;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 35px;
  text-transform: uppercase;
  padding: 16px;
}

.about span {
  color: #f48c06;
}

.about .column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about .column .image {
  flex: 1 1 200px;
}

.about .column .image img {
  width: 100%;
}

.about .column .content {
  flex: 1 1 250px;
  margin-left: 10px;
}

.about .column .content h3 {
  font-size: 26px;
  color: #666;
}

.about .column .content p {
  font-size: 18px;
  color: #666;
  padding: 16px 0;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h1 {
  font-size: 50px;
}
.heading h2 {
  font-weight: normal;
}

.flex-list1 {
  padding-bottom: 20px;
}

.flex-list2 {
  padding-bottom: 20px;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.lesson-icon img {
  width: 250px;
  height: 150px;
}



ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #f7f7f7;
  color: #5f5d60;
  line-height: 1.5;
}
footer a {
  text-decoration: none;
  color: #5f5d60;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #5f5d60;
  font-family: 'Merriweather', serif;
  font-size: 1.375rem;
  padding-bottom: 0.625rem;
}

.ft-logo {
  color: #f48c06;
  font-size: 1.5rem;
  padding-bottom: 0.625rem;
}
/* Sticks footer to bottom */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* Footer main */
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 29.8125rem /* 477px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 77.5rem /* 1240px */) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem;
}

/* Footer main | Newsletter form */
form-footer {
  display: flex;
  flex-wrap: wrap;
}

input[type='email'] {
  border: 1px solid #f48c06;
  padding: 0.625rem;
  margin-top: 0.3125rem;
}

input[type='submit'] {
  background-color: #f48c06;
  color: #fff;
  cursor: pointer;
  border: 0;
  padding: 0.625rem 0.9375rem;
  margin-top: 0.3125rem;
}


/*FORM*/
.container-form {
  transform: translate(-50% -50%);
  max-width: 2000px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  margin: 0 auto;
}
.container-form .registration {
 display: none;
}
#check:checked ~ .registration {
 display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container-form .form {
  padding: 32px;
}
.form h2 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}
.form input {
  text-align: center;
  height: 60px;
  width: 200px;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color:#F48C06;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;  
}
.container-form .button {
  color: #fff;
  background-color: #F48C06;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 27.2px;
  cursor: pointer;
  transition: 0.4s;
}
.container-form .button:hover {
  background-color: #945400;
}
.signup {
  font-size: 17px;
  text-align: center;
}
.signup label {
  color: #F48C06;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}

.login {
  text-align: center;
}
